# base
Cython >= 0.29.22
Python-DateUtil >= 2.8.1

# data libraries involved in util
NumPy >= 1.20.1
Pandas >= 1.2.2
PyArrow >= 3.0.0
PySpark >= 3.0.2
Ray >= 1.2.0

# ML/DL libraries involved in util
Keras >= 2.4.3
H5Py >= 2.10.0, < 3.0.0
    # *** 3.0.0 leads to bug in loading Keras model ***

SciKit-Learn >= 0.24.1

# cloud
AWSCLI >= 1.19.13
Boto3 >= 1.17.13
S3FS >= 0.4.2, < 0.5.0
    # *** >= 0.5.0 causes PIP Install to hang/fail ***

# misc
ConfigParser >= 5.0.1
JobLib >= 1.0.1
PSUtil >= 5.8.0
Tqdm >= 4.57.0

HyperOpt >= 0.2.5
    # for Arimo.DL
